body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: serif, Arial, sans-serif;
  line-height: 1.6;
  background-color: #ffff;
  color: #333;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,1);
  padding: 10px 0;
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;\
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}
header .logo {
  display: flex;
  align-items: center; 
  margin-left: 10px;
  font-family: fantasy;
}

header .logo h1 {
  color: #fff;
  font-size: 1.6em;
  margin: 0;
  margin-left: 10px; 
}

header .logo .logo-img {
  width: 40px; 
  height: auto;
  border-radius: 50%; 
}

a{
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

a:hover{
  color: #444;
}

.main {
  padding: 20px;
  text-align: center;
}

.mission {
  background: url("https://github.com/mpur6520/loved_pets_adoption/blob/main/dog_log.png?raw=true") no-repeat center/cover;
  padding: 200px;
  margin: auto;
  text-align: center;
  max-width: 100%;
  height: 65%;
  font-size: 1.8em;
  color: #fff;
  margin-top: 50px;
}

.philosophy {
  padding: 20px;
  margin: 20px auto;
  max-width: 1800px;
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.philosophy .content {
  flex: 1; 
  padding: 20px;
}

.philosophy .mission-image {
  flex: 1; 
  text-align: center;
}

.philosophy .mission-image img {
  max-width: 70%;
  max-height: 10%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
}

.philosophy h2{
  font-size: 1.9em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 100px 20px;
  bottom: 0;
  width: 100%;
  font-size: 1.1em;
}

footer .footer-left{
  flex: 1;
  align-items: left;
}

footer .footer-right{
  flex: 1;
  align-items: left;
}

.staff-carousel{
  width: 70%;
  margin: auto;
  font-size: 1.1em;
  padding: 30px;
}

.staff-carousel h2{
  font-size: 1.9em;
}

/* Carousel */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-text: center;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  padding: 20px;
}

.carousel-item {
  flex: 0 0 25%;
  text-align: center;
  padding: 5px;
}

.carousel-item h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.carousel-item p {
  font-size: 1em;
  margin-top: 0; 
  margin-bottom: 10px;
}

.carousel-item img {
  width: 100%;
  max-width: 150px;
  height: 100%;
  max-height: 150px;
  border-radius: 50%;
}

.carousel-arrow {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.get-involved {
  background: #b1c9b8;
  border-radius: 15px;
  color: black;
  padding: 20px;
  text-align: left;
}

.get-involved ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.get-involved ul li {
  margin: 0 15px;
}

.get-involved ul li a {
  background-color: black;
  color: #fff;
  text-decoration: none;
  padding: 5px 30px;
  width: 30px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.get-involved ul li a:hover {
  background-color: #444;
}

.adoption-stats {
  background-color: #b1c9b8; /* Match the "Get Involved" background */
  padding: 40px 20px;
  text-align: center;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 1200px;
}


.adoption-stats h2 {
  font-size: 1.9em;
  margin-bottom: 20px;
  color: #333;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.stat-column {
  flex: 1; 
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.stat-column h3 {
  font-size: 2em;
  color: #2f855a; 
  margin-bottom: 10px;
}

.stat-column p {
  font-size: 1em;
  color: #333;
  line-height: 1.5;
}


.donation-banner {
  background-color: #b1c9b8; 
  padding: 150px;
  margin: auto;
  text-align: center;
  height: 60%;
  font-size: 1.3em;
  color: #fff;
}

.donation-banner h2 {
  font-size: 2.2em;
  margin-bottom: 20px;
}

.donation-banner p {
  font-size: 1.4em;
  margin: 0 auto;
  max-width: 800px;
}

.donation-options {
  padding: 40px 20px;
  background-color: #fff;
  text-align: center;
}

.donation-options h2 {
  font-size: 1.9em;
  margin-bottom: 20px;
}

.donation-impact {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.impact-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.impact-item h3 {
  font-size: 2em;
  color: #2f855a;
}

.impact-item p {
  font-size: 1em;
  color: #333;
}

.donation-form-section {
  padding: 40px 20px;
  text-align: center;
  background-color: #b1c9b8;
  border-radius: 15px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 50px;
}

.donation-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: auto;
  max-width: 400px;
}

.donation-form input, .donation-form textarea, .donation-form button {
  padding: 10px;
  font-size: 1em;
}

.donation-form button {
  background-color: #2f855a;
  color: #fff;
  border: none;
  cursor: pointer;
}

.donation-form button:hover {
  background-color: #276749;
}
/* Next Steps Section */
.next-steps-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: #f5f5f5;
  text-align: center;
  max-width: 100%;
}

.next-steps-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: 20px;
}

.next-steps-text {
  flex: 1;
  text-align: left;
}

.next-steps-text h2 {
  font-size: 2em;
  color: #2f855a;
}

.next-steps-text p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.6;
}

.next-steps-image {
  flex: 1;
  text-align: center;
}

.next-steps-image img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 24% 76% 26% 74% / 79% 70% 30% 21% ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}


.volunteer-hero {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background: #f3f3f3;
}

.volunteer-text {
  flex: 1;
  padding: 20px;
  font-size: 1.2em;
}

.volunteer-text h2 {
  font-size: 2em;
  color: #2f855a;
}

.volunteer-image {
  flex: 1;
  text-align: center;
}

.volunteer-image img {
  max-width: 50%;
  width: 50%; 
  max-width: 500px; 
  aspect-ratio: 1;
  border-radius: 62% 38% 70% 30% / 30% 30% 70% 70%;
  object-fit: cover; 
  height: auto; 
  transform: scale(1.1);
}

/* Volunteer Details Section */
.volunteer-details {
  padding: 40px 20px;
  background: #ffffff;
  max-width: 1200px;
  margin: auto;
}

.volunteer-details h2 {
  font-size: 1.9em;
  color: #333;
  margin-bottom: 20px;
}

.volunteer-details p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Volunteer Steps Section */
.volunteer-steps {
  padding: 40px 20px;
}

.steps-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1800px;
  margin: auto;
  gap: 40px;
}

.steps-image {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  right: 100px;
}

.steps-image img {
  width: 400px; 
  height: 400px;
  border-radius: 50%; 
  object-fit: cover; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.steps-text {
  flex: 1;
  background-color: #b1c9b8;
  color: black;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 1600px; 
}

.steps-text h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.steps-text ol {
  font-size: 1.2em;
  line-height: 1.6;
  padding-left: 20px;
}

.volunteer-requirements {
  padding: 40px 20px;
  background-color: #f3f3f3;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 60px auto;
}

.requirements-content h2 {
  font-size: 2em;
  color: #2f855a;
  margin-bottom: 20px;
}

.requirements-content ul {
  font-size: 1.2em;
  line-height: 1.6;
  padding-left: 40px;
  list-style: disc;
}

.requirements-content li {
  margin-bottom: 10px;
}
.requirements-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.requirements-content {
  flex: 1;
}

.requirements-image {
  flex: 1;
  text-align: center;
  position: relative;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hide all images by default */
.mySlides {
  display: none;
  opacity: 0;  /* Ensuring they are invisible when hidden */
  transition: opacity 1s ease-in-out;
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

/* Navigation Arrows */
.prev, .next {
  position: absolute;
  top: 50%;
  width: 60px;
  padding: 12px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  z-index: 10;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* Button */
.adopt-button {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.adopt-button:hover {
  background-color: #444;
  color: #fff;
}

.adoption-section {
  padding: 60px 20px;
  text-align: center;
}

.adoption-section h2 {
  font-size: 2.2em;
  margin-bottom: 30px;
  color: #2f855a;
}

.pet-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pet-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  width: 300px;
  padding: 20px;
  transition: transform 0.3s;
}

.pet-card:hover {
  transform: scale(1.05);
}

.pet-card img {
  width: 100%;
  height: auto;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  aspect-ratio: 1;
  object-fit: cover; 
  transform: scale(1.1);
}

.pet-card h3 {
  font-size: 1.5em;
  margin: 15px 0;
}

.pet-card p {
  font-size: 1.1em;
  color: #333;
}
/* Found Your Choice Section */
.found-choice {
  background-color: #b1c9b8;
  padding: 30px;
  color: black;
  text-align: center;
  margin: 40px auto;
  border-radius: 15px;
  max-width: 700px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.found-choice h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.found-choice p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.found-choice ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.found-choice li {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.looking {
  background: url("https://github.com/mpur6520/loved_pets_adoption/blob/main/dog_cat.png?raw=true") no-repeat center/cover;
  padding: 200px;
  margin: auto;
  text-align: center;
  max-width: 100%;
  height: 65%;
  font-size: 1.8em;
  color: #fff;
  margin-top: 50px;
}
